# Assignment
Take the Restaurant dataset given in google classroom


# Question 1
Prepare the data for modelling, This will include
- Converting to lowercase
- Removing stopwords
- Lemmatization
- Stemming
- Removing numbers 

### Do it all in 1 function

# Question 2
Once the data has been cleaned :-
- Convert the data into vectors with Count Vectorizer. (No train-test required)
- Fit the K-means Clustering Algorithm on your vectors with n_clusters set to 5


------------

![](https://media.tenor.com/d8fG2J6pkAUAAAAC/friends-chandler.gif)

# A hint
The file is stores as a ```tsv```.

You can load a ```tsv``` file with ```pd.read_csv``` while passing the seperator or ```sep``` argument as ```\t```.

This tells pandas that the file is seperated by tab's instead of comma's

In [5]:
import pandas

In [6]:
data = pandas.read_csv('/Users/meghnarana/Downloads/datasets/Restaurant_Reviews.tsv',sep='\t')

In [7]:
data

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [8]:
import nltk

from nltk.tokenize import word_tokenize

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

from nltk.corpus import stopwords

from nltk.stem.snowball import SnowballStemmer
sn_stemmer=SnowballStemmer("english")

In [9]:
def datacleaning(data):

    x = data.lower()
    y = word_tokenize(x)
    temp = []
    for i in y:
        if i.isdigit():
            pass
        else:
            temp.append(i)
    rem = ' '.join(temp)
    
    y1 = word_tokenize(rem)
    temp1  = []
    for i in y1:
        if i in stopwords.words("english"):
            pass
        else:
            temp1.append(i)
    rem1 = ' '.join(temp1)
    
    y2 = word_tokenize(rem1)
    temp2 = []
    for i in y2:
        temp2.append(lemmatizer.lemmatize(i))
        rem2 = ' '.join(temp2)
    
    y3 = word_tokenize(rem2)
    temp3 = []
    for i in y3:
        temp3.append(sn_stemmer.stem(i))
        rem3 = ' '.join(temp3) 
     
    return rem3

In [10]:
data['Cleaned'] = data['Review'].apply(datacleaning)

In [11]:
data

,Review,Liked,Cleaned
0,Wow... Loved this place.,1,wow ... love place .
1,Crust is not good.,0,crust good .
2,Not tasty and the texture was just nasty.,0,tasti textur nasti .
3,Stopped by during the late May bank holiday of...,1,stop late may bank holiday rick steve recommen...
4,The selection on the menu was great and so wer...,1,select menu great price .
...,...,...,...
995,I think food should have flavor and texture an...,0,think food flavor textur lack .
996,Appetite instantly gone.,0,appetit instant gone .
997,Overall I was not impressed and would not go b...,0,overal impress would go back .
998,"The whole experience was underwhelming, and I ...",0,"whole experi underwhelm , think ll go ninja su..."
999,"Then, as if I hadn't wasted enough of my life ...",0,", n't wast enough life , pour salt wound draw ..."

In [12]:
x = data['Cleaned']

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
vectorizer = CountVectorizer()

In [16]:
vectorizer.fit(x)

CountVectorizer()

In [19]:
x_vector = vectorizer.transform(x)

In [20]:
x_vector

<1000x1574 sparse matrix of type '<class 'numpy.int64'>'
	with 5441 stored elements in Compressed Sparse Row format>

In [22]:
from sklearn.cluster import KMeans

In [23]:
cluster = KMeans(n_clusters=5)

In [25]:
cluster_model = cluster.fit(x_vector)

In [32]:
cluster_predict = cluster.predict(x_vector)

In [34]:
cluster_predict

array([2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 0, 1, 2, 4, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       0, 2, 1, 0, 2, 2, 2, 2, 2, 2, 2, 4, 2, 1, 3, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2,
       1, 2, 2, 0, 2, 1, 2, 0, 2, 2, 1, 2, 1, 2, 1, 1, 2, 2, 2, 0, 3, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 0,
       2, 3, 2, 2, 3, 2, 0, 2, 2, 2, 2, 2, 2, 1, 1, 4, 2, 1, 2, 2, 2, 2,
       2, 2, 1, 2, 1, 2, 0, 2, 2, 4, 2, 2, 2, 4, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 0, 1, 2, 2, 0, 2, 2, 2, 2, 4,
       2, 2, 2, 2, 2, 3, 2, 0, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 0, 2, 2, 1,
       2, 0, 2, 2, 2, 1, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 1, 2, 2, 2, 1, 0, 2, 2, 2, 2,
       2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 4, 2,
       3, 2, 2, 4, 2, 1, 2, 2, 2, 0, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 1, 2, 2, 2, 2,
       3, 2, 2, 4, 2, 2, 2, 2, 2, 2, 1, 2, 3, 0, 2, 2, 0, 2, 0, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 3, 2, 0, 2, 1, 2, 2, 4, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0,
       3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 0, 2, 2, 0, 2, 2, 2, 4, 2, 2, 2, 0,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2, 3, 2, 0, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 4, 0, 2, 2, 0,
       2, 2, 2, 2, 3, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 3, 0, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2,
       2, 0, 1, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 0, 2, 1,
       4, 2, 2, 2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 4, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 3, 1, 2, 2,
       0, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 0, 2, 2, 0, 2,
       2, 1, 2, 0, 4, 4, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 4, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 1, 2, 1, 2, 2, 2, 2, 3, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 3, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 2, 1, 2, 1, 2, 2, 2, 2], dtype=int32)